<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>by.epam.elective.controller.Controller</servlet-class>
        <init-param>
            <param-name>log4j-location</param-name>
            <param-value>WEB-INF/log4j.properties</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller/*</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>Encodingfilter</filter-name>
        <filter-class>by.epam.elective.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Encodingfilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>Redirectfilter</filter-name>
        <filter-class>by.epam.elective.filter.PageRedirectSecurityFilter</filter-class>
        <init-param>
            <param-name>indexPath</param-name>
            <param-value>/index.jsp</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Redirectfilter</filter-name>
        <url-pattern>/pages/*</url-pattern>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <jsp-config>
        <taglib>
            <taglib-uri>customtags</taglib-uri>
            <taglib-location>/WEB-INF/tld/custom.tld</taglib-location>
        </taglib>
    </jsp-config>
</web-app>